
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
 background: #ffffff;
  border-radius: 16px;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
 height: 250px;
  margin-top: 1px;
}

.content {
  flex: 1;
}

.content h2 {
  font-size: 26px;
  font-weight: 500;
  color: #1d4ed8;
  margin-bottom: 10px;
}

.content p {
  font-size: 20px;
  color: #373636;
  margin-bottom: 18px;
}


.content button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

.content button:hover {
  background: #1e40af;
}


.imageContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.imageContainer img {
  max-width: 260px;
  height: auto;
  object-fit: contain;
}


.dots {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
}

.dot {
  width: 6px;
  height: 6px;
  background: #d1d5db;
  border-radius: 50%;
  transition: 0.3s;
}


.activeDot {
  background: #1e40af;
  width: 8px;
  height: 8px;
} 

