/* .navbar {
  width: 100%;
  height: 65px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 45px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);

  position: sticky;   
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 25px;
  font-weight: 600;
  color: #2563eb;
  display: flex;
  align-items: center;
}

.logoU {
  font-size: 39px;
  font-weight: 700;
}

.menu {
  display: flex;
  align-items: center;
  gap: 18px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 17px;
  font-weight: 540;
  color: #035BFF;
  cursor: pointer;
  padding: 6px 14px;
  background-color: #E3EEEF;
  border-radius: 999px;
  transition: all 0.2s ease;
  text-decoration: none;
}

.item:hover:not(.active) {
  background: #f3f4f6;
  transform: translateY(-1px);
}
.iconImg {
 
  object-fit: contain;
}

.active {
  background: #035BFF;
  color: white;
}

.active img {
  filter: brightness(0) invert(1);
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right a {
  padding: 6px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.right a:hover {
  background-color: #f3f4f6;
  transform: scale(1.05);
}

.logoImg {
  object-fit: contain;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 0 25px;
  }

  .item {
    font-size: 15px;
    padding: 6px 10px;
  }
}

@media (max-width: 768px) {

  .navbar {
    padding: 0 15px;
  }

  .menu {
    display: none;
  }

  .menuIcon {
    display: block;
  }

  .logoU {
    font-size: 30px;
  }

  .logo {
    font-size: 20px;
  }

  .logoImg {
    width: 26px;
    height: 26px;
  }
}

.mobileMenu {
  position: absolute;
  top: 65px;
  right: 15px;

  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: fadeIn 0.2s ease;
  
}

.mobileItem {
  padding: 8px 12px;
  cursor: pointer;
  color: #2563eb;
  text-decoration: none;
  border-radius: 6px;
}

.mobileItem:hover {
  background: #f3f4f6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profileWrapper {
  position: relative;
  cursor: pointer;
}

.profileDropdown {
  position: absolute;
  top: 55px;
  right: 0;
  width: 320px;
  z-index: 999;
}

.mobileSidebarOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
}

.mobileSidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 85%;
  max-width: 350px;
  background: white;
  padding: 15px;
  animation: slideIn 0.3s ease;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
} */








 .navbar {
  width: 100%;
  height: 65px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}


.logo {
  font-size: 24px;
  font-weight: 600;
  color: #2563eb;
  display: flex;
  align-items: center;
}

.logoU {
  font-size: 34px;
  font-weight: 700;
}


.menu {
  display: flex;
  gap: 16px;
}

.item {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 6px 14px;
  border-radius: 999px;
  background: #e3eeef;
  text-decoration: none;
  color: #035bff;
  font-weight: 500;
}



.item:hover:not(.active) {
  background: #f3f4f6;
  transform: translateY(-1px);
}


.iconImg {
 
  object-fit: contain;
}

.active {
  background: #035BFF;
  color: white;
}

.active img {
  filter: brightness(0) invert(1);
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profileWrapper {
  position: relative;
  cursor: pointer;
}

.profileIcon {
  border-radius: 50%;
}


.dropdownContainer {
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 999;
}

.menuIcon {
  display: none;
}

@media (max-width: 1024px) {
  .menu {
    display: none;
  }

  .menuIcon {
    display: block;
    cursor: pointer;
  }
}

.mobileMenu {
  position: absolute;
  top: 65px;
  right: 20px;
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobileItem {
  text-decoration: none;
  color: #2563eb;
}

.mobileOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 2000;
}

/* .mobileSidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 85%;
  max-width: 350px;
  background: white;
  padding: 15px;
  animation: slideIn 0.3s ease;
} */

.mobileSidebar {
  position: fixed;
 left: 0;
  top: 0;
  height: 100%;
  width: 85%;
  max-width: 300px;
  background: white;
  padding: 15px;
  animation: slideIn 0.3s ease;
}
@media (max-width: 768px) {

  .sidebar {
    border-radius: 0;
    box-shadow: none;
  }

  .cover {
    height: 90px;
  }

  .avatar {
    width: 75px;
    height: 75px;
  }

  .profileSection h4 {
    font-size: 17px;
  }

  .stats {
    font-size: 14px;
  }

  .skills span {
    font-size: 13px;
  }

}
@keyframes slideIn {
  from { transform: translateX(0); }
  to { transform: translateX(100); }
}