.card {
  width: 250px;
  background: white;
  padding: 16px;
  border-radius: 12px;
  height: fit-content;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  text-align: center;
}

.avatar {
  width: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.stats {
  margin-top: 12px;
  font-size: 14px;
  color: #555;
}